.spacer {
  flex-grow: 1;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.arrow {
  margin-right: -44px;
}

.hero {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.links {
  transition: all 0.3s ease;
}

.links:hover {
  transform: scale(1.2);
  cursor: pointer;
  fill: #6ee7b7;
}

.github:hover {
  transform: rotate(360deg) scale(1.2);
  fill: #6ee7b7;
}

.icon {
  transition: all 0.2s ease;
}

.icon:hover {
  transform: scale(1.4);
}

.iconarray {
  z-index: 45;
  fill: #064e3b;
  transition: all 0.3s ease;
  filter: none;
  min-width: 70px;
}

.iconarray.active {
  filter: drop-shadow(0 0 8px #6ee7b7);
  fill: #6ee7b7;
  transition: all 0.3s ease;
}

.iconsection {
  position: sticky;
  position: -webkit-sticky;
  background-color: #131826;
  line-height: 1.75rem;
  padding: 25px 32px;
  top: 0;
  z-index: 44;
  transition: all 0.3s ease;
}

.card {
  min-height: 524px;
  object-fit: cover;
}

.card:hover {
  outline: 1px solid #10b981;
  transition: all 0.1s ease;
  transition: box-shadow 0.2s ease;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.75);
}

.label-text {
  min-height: 1rem;
}

.project-image {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  transition: all 0.3s ease-in-out;
}

.project-image:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

@media (max-width: 500px) {
  .iconarray {
    font-size: 20px;
  }

  .project-image {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}
