.spacer {
  flex-grow: 1;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.arrow {
  margin-right: -44px;
}

.hero {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.links {
  transition: all 0.3s ease;
}

.links:hover {
  transform: scale(1.2);
  cursor: pointer;
  fill: #6ee7b7;
}

.github:hover {
  transform: rotate(360deg) scale(1.2);
  fill: #6ee7b7;
}

.icon {
  transition: all 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.iconarray {
  fill: #064e3b;
}

.active {
  fill: #6ee7b7;
  filter: drop-shadow(0 0 8px #6ee7b7);
  transform: scale(1.2);
}

.card:hover {
  outline: 1px solid #10b981;
  transition: all 0.1s ease;
}
